* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
}

.container {
    border: 2px solid black;
    width: 1000px;
    height: 540px;
}

.titile {
    height: 100px;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

ul li {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-left: none;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bolder;
}

ul li:last-child {
    border-right: none;
}

.heroSection {
    height: 200px;
    border-bottom: 2px solid black;
    display: flex;
}

.sideBar {
    width: 250px;
    border-right: 2px solid black;
}

.sideBar nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sideBar nav a {
    height: 40px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    text-transform: capitalize;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    border-bottom: 2px solid;
}

.heroSection .imgContainer {
    width: 750px;
}

.heroSection .imgContainer h1 {
    text-transform: uppercase;
    font-weight: bold;
}

.client {
    height: 50px;
}

.boxContainer {
    display: flex;
}

.boxContainer .imgBox {
    width: 333.33px;
    height: 100px;
    border: 2px solid black;
    border-left: none;
}

.boxContainer .imgBox:last-child {
    border-right: none;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 20px;
    word-spacing: 10px;
}