* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container {
    border: 2px solid black;
    width: 1000px;
    height: 540px;
}

.headingMain h1 {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-left: none;
}

header ul li:last-child {

    border-right: none;
}

header ul a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-transform: capitalize;
}

main {
    display: flex;
    height: 200px;
}

main .left {
    width: 250px;
}

main .left nav {
    display: flex;
    flex-direction: column;
}

main .left nav a {
    height: 40px;
    border: 2px solid black;
    border-left: none;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
}

main .left nav a:last-child {
    border-bottom: none;
}

main .right {
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 40px;
}

.clients {
    border: 2px solid black;
    height: 50px;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
}

.imageContainer {
    display: flex;
}

.imageContainer .img {
    width: 100%;
    border: 2px solid black;
    height: 100px;
    border-top: none;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 30px;

}

.imageContainer .img:last-child {
    border-right: none;
}


footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 20px;
    height: 50px;
    gap: 10px;
}

footer nav a {
    text-decoration: none;
    color: black;
}