@import "tailwindcss";

/* Full scrollbar */
.scrollbar::-webkit-scrollbar {
    width: 5px;
}

/* Scrollbar track */
.scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Scrollbar thumb */
.scrollbar::-webkit-scrollbar-thumb {
    background: aqua;
    border-radius: 10px;
}

/* Hover effect */
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}